{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
<style>
    legend {
        color: white;
    }
</style>
{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1>Ai 4 cioccolati</h1>
    <p class="lead">
        Cosa hai preparato di buono?
    </p>
</div>

<form class="form form-horizontal" action="" method="post">

    {{wtf.form_field(form.name, form_type="horizontal")}}
    {{wtf.form_field(form.price, form_type="horizontal")}}
    {{wtf.form_field(form.availability, form_type="horizontal")}}

    <div id="field-list-forms">
        {% for field in form.ingredients %}
        {{wtf.form_field(field, form_type="horizontal")}}
        {% endfor %}
    </div>

    <button id="add-new-field">+++</button>

    {{wtf.form_field(form.add, form_type="horizontal", button_map={'add': 'warning'})}}

</form>
{% endblock %}
