{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/content/cakesView.css" />
{% endblock %}

{% block content %}

<div class="jumbotron">
    <h1 class="brand">Ai 4 cioccolati</h1>
    <p class="lead">
        Ciao, {{ name }}!<br />
        Cosa hai preparato e venduto oggi?
    </p>
</div>

<div class="new-cakes-adding">
    <p>
        Hai preparato nuove torte?<br/><br />
        <a class="btn btn-default" href="{{ url_for('addCake') }}">Aggiungile &raquo;</a><br/><br />
    </p>
</div>

<div>
    <p>
        Modifica il numero di torte disponibili in base alle vendite.
    </p>
    <br/>
    <div id="cakesList" class="grid"></div>
</div>

<div class="at-end">
    <br/>
    <form method="post" role="form">
        <button class="btn btn-warning" name="submit" id="submit">Aggiorna &raquo;</button>
    </form>
</div>

{% endblock %}

{% block scripts %}
<script src="/static/scripts/cakes.js"></script>
<script src="/static/scripts/cakemodify.js"></script>
<script>
    var myCakes = {{ cakes| tojson }};
    var day = {{ day|tojson }};
    displayPopup(myCakes);
    var newCakes = myCakes;
    //$().click();
    pop(newCakes);

    $(document).ready(function () {
        $('#submit').click(function () {
            $.ajax({
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(newCakes),
                dataType: 'json',
                url: "{{url_for('backoffice')}}",
                success: function (e) {
                    console.log("send");
                    window.location = "{{url_for('backoffice')}}";
                },
                error: function (error) {
                    console.log("sad :(");
                }
            });
        });
    });
</script>
{% endblock %}