{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/content/cakesView.css" />
{% endblock %}

{% block content %}

<div class="jumbotron">
    <h1 class="brand">Ai 4 cioccolati</h1>
    <h5 class="justify">
        La particceria Ai 4 cioccolati apre nel 1923 a Venezia. Il sogno dei proprietari originari della
        pasticceria era quallo di non chiudere mai, neanche un giorno per vendere torte deliziose a tutti
        i veneziani. Luana e Maria, le due proprietarie attuali, portano avanti con orgoglio questa tradizione
        con impegno, costanza e tanto amore.
    </h5>
</div>

<p class="text-center">
    Qui potrete trovare ogni giorno le torte in vendita presso la nostra pasticceria!
</p>
<br/>
<div class="scalable">
    <div id="cakesList" class="grid"></div>
</div>


{% endblock %}

{% block scripts %}
<script src="/static/scripts/cakes.js"></script>
<script>
    var myCakes = {{ cakes|tojson }};
    var day = {{ day|tojson }};
    displayPopup(myCakes);
</script>
{% endblock %}
